@import url('https://fonts.googleapis.com/css?family=Bangers|Oswald');

body {
    text-align: center;
    font-family: Oswald, "sans-serif";
    background-color: #48A4D6;
}

h1, h2 {
    font-family: Bangers, "sans-serif";
    color: #C80000;
}
    
section {
    margin-top: 20px;
}

fieldset {
    border: #FFEB00 2px solid;
}